<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="useDefaultLog" value="false"/>
    <add key="LogConfigFile" value="Log.config"/>
    <add key="LoggerName" value="testLog"/>-->
    <add key="kk" value="testLog"/>
    <!--<add key="loggerName" value="LOG"/>-->
  </appSettings>
</configuration>